<div class="home">
  <p>The Equal Rights Coalition-TN is a civil rights organization based in West Tennessee. Our vision is to advocate for the fair and equal treatment of all citizens as well as creating awareness towards the injustices in our communities and the world. Each day we are working towards a common goal for the prosperity and advancement for all citizens. We strive to uplift the oppressed, speak out for the silenced, and assist in shaping our communities and a better world for future generations to come.</p>
</div>
